<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Devices</span>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
        <tr md-row>
            <th md-column><span>Device Name</span></th>
            <th md-column><span>MacID</span></th>
            <th md-column><span>Manufactured Date</span></th>
            <th md-column><span>Serial Number</span></th>
            <th md-column><span>Product Id</span></th>
            <th md-column><span>Tester Firmware</span></th>
            <th flex md-column><span></span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="device in devices | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell style="cursor:pointer" ng-click="configDialog(device)">{{device.name}}</td>
            <td md-cell>{{device.macId}}</td>
            <td md-cell>{{device.manufacturedDate}}</td>
            <td md-cell>{{device.serialNumber}}</td>
            <td md-cell>{{device.productId}}</td>
            <td md-cell>{{device.configurations[0].firmwareVersion}}</td>
            <td md-cell>
                <div layout="row">
                    <md-button class="md-icon-button small" ng-click="getConfigForDevice(device.macId)">
                        <md-icon>
                            <i class="material-icons">refresh</i></a>
                        </md-icon>
                    </md-button>
                    <div layout="row" ng-if="fwProgress[device.macId].showProgress" style="width:50px" layout-align="center center">
                        <md-progress-circular  md-mode="determinate" value="{{fwProgress[device.macId].progress}}" ng-if="fwProgress[device.macId].progress > 0"
                                               md-diameter="20px"  class="md-accent md-hue-1"></md-progress-circular>
                        <md-progress-circular  md-mode="indeterminate" ng-if="fwProgress[device.macId].progress === 0"
                                               md-diameter="20px"  class="md-accent md-hue-1"></md-progress-circular>
                    </div>
                    <md-button ng-disabled="device.connStatus !== 'CONNECTED'" ng-if="!fwProgress[device.macId].showProgress" class="md-icon-button small"
                               type="file"
                               ngf-select="uploadFile(device, $file, $invalidFiles)" name="upload"
                               ngf-max-size="2MB">
                        <md-icon>
                            <i class="material-icons">file_upload</i></a>
                        </md-icon>
                    </md-button>

                    <md-button class="md-icon-button small">
                        <md-icon>
                            <i class="material-icons" style="color:rgb(33,150,243)"
                               ng-if="device.connStatus === 'CONNECTED'">wifi</i></a>
                            <i class="material-icons" ng-if="device.connStatus !== 'CONNECTED'">wifi</i></a>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button small" ng-if="false">
                        <md-icon>
                            <i class="material-icons" style="color:rgb(33,150,243)">open_with</i>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button small" ng-if="!device.isActive">
                        <md-tooltip>raspi not connected to testing box
                        </md-tooltip>
                        <md-icon>
                            <i class="material-icons" style="color:rgb(255,0,0)">warning</i>
                        </md-icon>
                    </md-button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                     md-total="{{devices.length}}"  md-page-select></md-table-pagination>
