<md-dialog flex-xs="100" flex-sm="100" flex-md="80" flex-lg="40">
    <form ng-cloak name="deviceInfoForm">

        <md-toolbar style="background-color:#414042">
            <div class="md-toolbar-tools">
                <h4>Test Configuration</h4>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon><i class="material-icons">close</i></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="row" ng-show="!showDetails" layout-align="center center">
                <md-radio-group flex ng-change="changeActiveStates()" ng-model="activeButton">
                    <div flex layout="row" layout-align="center center">
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="showConfigDetails(0)">CONFIGURATION 1</md-button>
                        </div>
                        <div flex="50">
                            <md-radio-button value="0" style="margin:10px">
                                {{device.configurations[0].configurationName}}
                            </md-radio-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="showConfigDetails(1)">CONFIGURATION 2</md-button>
                        </div>
                        <div flex="50">
                            <md-radio-button value="1" style="margin:10px">
                                {{device.configurations[1].configurationName}}
                            </md-radio-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="showConfigDetails(2)">CONFIGURATION 3</md-button>
                        </div>
                        <div flex="50">
                            <md-radio-button value="2" style="margin:10px">
                                {{device.configurations[2].configurationName}}
                            </md-radio-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="showConfigDetails(3)">CONFIGURATION 4</md-button>
                        </div>
                        <div flex="50">
                            <md-radio-button value="3" style="margin:10px">
                                {{device.configurations[3].configurationName}}
                            </md-radio-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="showConfigDetails(4)">CONFIGURATION 5</md-button>
                        </div>
                        <div flex="50">
                            <md-radio-button value="4" style="margin:10px">
                                {{device.configurations[4].configurationName}}
                            </md-radio-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="showConfigDetails(5)">CONFIGURATION 6</md-button>
                        </div>
                        <div flex="50">
                            <md-radio-button value="5" style="margin:10px">
                                {{device.configurations[5].configurationName}}
                            </md-radio-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="showConfigDetails(6)">CONFIGURATION 7</md-button>
                        </div>
                        <div flex="50">
                            <md-radio-button value="6" style="margin:10px">
                                {{device.configurations[6].configurationName}}
                            </md-radio-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div flex="50" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="showConfigDetails(7)">CONFIGURATION 8</md-button>
                        </div>
                        <div flex="50">
                            <md-radio-button value="7" style="margin:10px">
                                {{device.configurations[7].configurationName}}
                            </md-radio-button>
                        </div>
                    </div>
                </md-radio-group>
            </div>
            <div class="md-dialog-content" layout="row" ng-show="showDetails">
                <div layout="column" flex="50">
                    <h4>PANEL CONFIGURATION</h4>
                    <md-input-container>
                        <label>Configuration Name</label>
                        <input ng-disabled="true" type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].configurationName">
                    </md-input-container>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Panel Type</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].panelType">
                    </md-input-container>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>VDD Rail</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].vddRail">
                    </md-input-container>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Panel Rejection Threshold</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].rejectionThreshold">
                    </md-input-container>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Module current</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].moduleCurrent">
                    </md-input-container>
                </div>
                <div layout="column" flex="50">
                    <h4>DEVICE 1 CONFIGURATION</h4>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Device 1 Address</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].device1Address">
                    </md-input-container>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Device 1 Register Address</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].device1RegAddress">
                    </md-input-container>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Device 1 Register Content</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].device1RegContent">
                    </md-input-container>
                    <h4>DEVICE 2 CONFIGURATION</h4>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Device 2 Address</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].device2Address">
                    </md-input-container>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Device 2 Register Address</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].device2RegAddress">
                    </md-input-container>
                    <md-input-container flex-xs="100" flex-sm="100" flex="50">
                        <label>Device 2 Register Content</label>
                        <input type="text" style="width:80%" required md-asterisk name="productId" ng-model="device.configurations[index].device2RegContent">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-hide="showPromptDiv" ng-click="cancel()" class="md-primary md-accent">Cancel</md-button>
            <md-button ng-hide="showPromptDiv" ng-click="save()" class="md-primary md-accent">save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>