<style>
    .login_container {
    }

    .login_container .login_box {
        background-color: #f5f5f5;
        position:relative;
    }

    .login_container .mid_section .md-title {
        margin-left:12px;
    }

    .login_container .mid_section .icons {
        height:48px;
        width:48px;
    }

    .login_container .loading_section {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color:rgba(255, 255, 255, 0.8);
        z-index: 1;
    }

    .login_container form.on_loading_hide {
        opacity: 0.7;
        transition: 0.3s all;
    }

    @media screen and (min-width: 1280px) {
        .login_container .mid_section .md-title {
            font-size:24px;
            margin-left:12px;
            line-height:34px;
        }

        .login_container .mid_section .icons {
            height:56px;
            width:50px;
        }

        .login_container .mid_section {
            padding:48px 0px;
        }
    }

    @media screen and (min-width:960px) and (max-width: 1279px) {
        .login_container .mid_section .md-title {
            font-size:24px;
            margin-left:12px;
            line-height:34px;
        }

        .login_container .fridge {
            max-height:420px;
        }

        .login_container .mid_section .icons {
            height:48px;
            width:48px;
        }
        .login_container .mid_section {
            padding:48px 0px;
        }

        .login_container .right_section {
            margin:40px 0px;
        }
    }

    @media screen and (min-width:600px) and (max-width: 959px) {
        .login_container .mid_section .md-title {
            font-size:24px;
            margin-left:12px;
            line-height:34px;
        }

        .login_container .fridge {
            max-height:450px;
        }

        .login_container .mid_section {
            padding:48px 0px;
        }

        .login_container .right_section {
            margin:40px 0px;
        }
    }








</style>
<!--flex="100" flex-gt-sm="30" layout="row" layout-align="center start" class="right_section" layout-padding-->
<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
        <div style="margin:8px">
            <img src="/assets/images/spectra7.png" height="40px"/>
        </div>
        <span flex></span>
    </div>
</md-toolbar>
<md-content flex layout="column" class="login_container"
            style="background-image:url('assets/images/bg.jpg');background-size:100%">

    <!--<div layout="row" layout-align="center center" layout-padding layout-margin-->
    <!--class="center-align flex_shrink_0" style="height:150px">-->
    <!--<h1 class="md-headline mforty-color" style="font-weight: 500;">-->

    <!--</h1>-->
    <!--</div>-->
    <div flex="noshrink" layout-gt-md="row" layout-align="center center">
        <div flex="100" flex-gt-md="30" layout="row" layout-align="center start" class="right_section">
            <div flex-xs="100" flex-sm="70" flex-md="60" flex="100">
                <div layout="row" class="login_box">
                    <div flex layout="row" layout-align="space-around center" class="loading_section valign-wrapper"
                         ng-if="isLoading">
                        <md-progress-circular md-mode="indeterminate" class="valign"></md-progress-circular>
                    </div>
                    <div flex layout="row" layout-padding layout-margin>
                        <div flex layout="column" ng-show="!showForgotPassword">
                            <form style="flex-shrink: 0;">
                                <div layout="row" layout-align="start center">
                                    <h2>Sign in with existing account</h2>
                                </div>
                                <div layout="column">
                                    <md-input-container class="md-icon-float md-block md-accent">
                                        <label>Username</label>
                                        <md-icon class="material-icons">email</md-icon>
                                        <input ng-model="loginDetails.email"/>
                                    </md-input-container>
                                    <md-input-container class="md-icon-float md-block md-accent">
                                        <label>Password</label>
                                        <md-icon class="material-icons">lock</md-icon>
                                        <input ng-model="loginDetails.password" type="password"/>
                                    </md-input-container>
                                </div>
                                <div>
                                    <div ng-if="showLoginMsg" class="red-text center-align" style="font-size:14px;">
                                        {{loginMsg}}
                                    </div>
                                </div>
                                <div layout="column" layout-align="center stretch">
                                    <md-button type="submit" flex class="md-raised md-accent"
                                               ng-click="submit()">Login
                                    </md-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div style="height:100%;color:white;padding-bottom:24px" layout="row" layout-align="center end" layout-padding>
            Powered by Caribou Technologies
        </div>
    </footer>
</md-content>



