<style>
.sideNav {
    width: 280px;
}


</style>

<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button small" ng-click="toggleLeft()">
            <md-icon>
                <i class="material-icons">menu</i>
            </md-icon>
        </md-button>
        <img ui-sref="root" class="logo cursor_pointer" src="/assets/images/spectra7.png" height="40px"/>
        <span flex></span>
        <div>
            <div layout="row" layout-align="center center" ns-popover ns-popover-container="account-popover-container"
                 ns-popover-hide-on-inside-click="true"
                 ns-popover-timeout="-1" ns-popover-template="account_popover" ns-popover-trigger="click"
                 ns-popover-placement="bottom|right" ns-popover-theme="ns-popover-tooltip-theme">
                <i class="material-icons person_icon cursor_pointer">account_circle</i>
            </div>
        </div>
        <script type="text/ng-template" id="account_popover">
            <div class="triangle"></div>
            <div class="ns-popover-tooltip account_popover" md-whiteframe="1" layout="column">
                <div >
                    <ul>
                        <li ngf-select="uploadFile($file, $invalidFiles)" name="upload"
                            ngf-max-size="2MB" style="font-size:15px;cursor:pointer">Raspi FW Upload
                        </li>
                        <md-divider></md-divider>
                        <li>
                            <a href="/login" ng-click="hidePopover()">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>
        </script>
    </div>

</md-toolbar>
<div flex ng-cloak layout="column" style="height:100%">
    <section flex layout="row" ng-style="style()" style="height:100%;position: relative;z-index: 1;" class="client">
        <!-- Side Navbar panel -->
        <md-sidenav class="md-sidenav-left sideNav" md-component-id="left"
                    md-whiteframe="4" layout="column">
            <div flex layout="column" layout-align="space-between none">

                <md-toolbar class="md-primary">
                    <div class="md-toolbar-tools" layout="row" layout-align="center center">

                        <!--<div flex-order="1" layout="row" layout-align="center center" style="position: relative;min-height:56px; height: 56px;-->
                        <!--border-bottom: 1px solid #ccc; background-color:white; padding:0px 16px;" class="sub_nav">-->
                        MANAGER
                        <!--</div>-->
                    </div>
                </md-toolbar>
                <md-content class="main-menu" flex flex-order="2">
                    <md-list class="side_nav_items">
                        <md-list-item layout="row" ui-sref-active="active">
                            <md-icon class="md-default-theme">
                                <a ui-sref="app.devices">
                                    <i class="material-icons">devices</i>
                                </a>
                            </md-icon>
                            <div class="md-list-item-text">
                                <a ui-sref="app.devices"><span
                                        class="md-subhead">
                                        Devices </span></a>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-list class="side_nav_items" ng-if="false">
                        <md-list-item layout="row"
                                      ui-sref-active="active">
                            <md-icon class="md-default-theme">
                                <a ui-sref="main.view3">
                                    <i class="material-icons">description</i>
                                </a>
                            </md-icon>
                            <div class="md-list-item-text">
                                <a ui-sref="main.view3">
                                        <span class="md-subhead">
                                        Configurations
                                        </span>
                                </a>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <div flex-order="3" class="service_status_section" ng-if="false">
                    <div flex layout="column">
                        <div flex layout-padding>
                            <div layout="{{miniSideNav ? 'column' : 'row'}}">
                                <div flex="50" class="frontend_status">
                                    <div>
                                        <div flex="100" class="status_label">
                                            <span>F</span>
                                            <span class="version">{{frontend_version}}</span>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            <div class="service_available" ng-show="frontend_service_connected"></div>
                                            <div class="service_unavailable" ng-hide="frontend_service_connected"></div>
                                        </div>
                                        <md-tooltip md-direction="top">
                                            {{frontend_service_connected ? "Online" : "Offline" }}
                                        </md-tooltip>
                                    </div>
                                </div>
                                <div flex="50" class="iot_status">
                                    <div>
                                        <div flex="100" class="status_label">
                                            <span>I</span>
                                            <span class="version">{{iot_version}}</span>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            <div class="service_available" ng-show="iot_service_connected"></div>
                                            <div class="service_unavailable" ng-hide="iot_service_connected"></div>
                                        </div>
                                        <md-tooltip md-direction="top">
                                            {{iot_service_connected ? "Online" : "Offline" }}
                                        </md-tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div flex class="side_nav_mini_btn_section" layout-padding>
                            <div layout="row" flex="100" layout-align="space-between center">
                                <div layout="row" layout-align="start center">
                                    <img src="/assets/images/favicon.png"
                                         style="height: 26px;width: 26px;padding-right: 5px"/>
                                    <div style="font-size: 12px;padding-left: 0px; color: grey" ng-hide="miniSideNav">
                                        <div style="margin: 2px">Powered by</div>
                                        <div style="font-weight: bold;margin: 2px">Caribou Technologies</div>
                                    </div>
                                </div>
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons" ng-click="minimizeSideNav()">play_arrow</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-sidenav>
        <div flex layout="column" role="main" tabindex="-1" style="/*height:100%*/">
            <div flex layout="column" style="height:100%">

                <div flex ui-view layout="column" style="height:100%;"></div>
            </div>
        </div>
    </section>
</div>

