<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Configurations</span>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
        <tr md-row>
            <th md-column md-order-by="nameToLower" style="width:150px"><span>Config Name</span></th>
            <th md-column md-numeric md-order-by="calories.value" style="width:150px"><span>Config Details</span></th>
            <th flex md-column md-numeric md-order-by="calories.value" ><span></span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts">
            <td md-cell style="width:150px">{{dessert.device}}</td>
            <td md-cell style="width:150px">{{dessert.connStatus}}</td>
            <td md-cell>
                <md-button class="md-icon-button small">
                    <md-icon>
                        <i class="material-icons" style="color:rgb(33,150,243)">edit</i></a>
                    </md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
<md-button class="md-fab fixed-action-btn fixed-btn " aria-label="Edit"
           ng-click="configDialog()" style="background-color:gray;position:fixed; bottom:32px; right:32px;">
    <md-icon><i class="material-icons">add</i></md-icon>
</md-button>
<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>