md-content.transparent {
	background-color: transparent;
}
md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}

md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

.nav_toolbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.nav_toolbar .md-toolbar-tools {
    background-color: white;
    height:100px;
    max-height:100px;
}

.nav_toolbar .person_icon {
	margin:0px 12px;
	color:rgb(33,150,243);
	font-size:48px;
}

.nav_toolbar .logo {
	margin:6px 4px;
	height:88px;
}

/*on mobile screen*/
.nav_toolbar.small .md-toolbar-tools {
    background-color: white;
    height:72px;
    max-height:72px;
}

.nav_toolbar.small .person_icon {
	margin:0;
	color:rgb(33,150,243);
	font-size:36px;
}

.nav_toolbar.small .logo {
	height:72px;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

/*Side Navigation Bar*/
.sidenav {
    width: 240px !important;
    min-width: 240px !important;
}

md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.user-avatar {
    border-radius: 99%;
}

/*Customize Dashboard widget*/
.panel-widget-container {
    overflow: hidden;
    min-height:240px;
}

/*Customize battery progress bar in Devices table*/
md-progress-linear .md-bar {
    background-color: #6cc644;
}

md-progress-linear .md-container {
    background-color: rgba(255, 0, 0, 0.61);
}

.progressLineardemoBasicUsage body {
    padding: 20px;
}

.progressLineardemoBasicUsage h4 {
    margin: 10px 0;
}

.progressLineardemoBasicUsage md-progress-linear {
    padding-top: 10px;
    margin-bottom: 20px;
}

.progressLineardemoBasicUsage #loaders > md-switch {
    margin: 0;
    margin-left: 10px;
    margin-top: -10px;
}

.progressLineardemoBasicUsage #loaders > h5 {
    margin-top: 0;
}

.progressLineardemoBasicUsage #loaders > p {
    margin-right: 20px;
    margin-bottom: 24px;
}

.progressLineardemoBasicUsage p.small {
    font-size: 0.8em;
    margin-top: -18px;
}

.progressLineardemoBasicUsage hr {
    width: 100%;
    margin-top: 20px;
    border-color: rgba(221, 221, 177, 0.1);
}

.progressLineardemoBasicUsage p.small > code {
    font-size: 0.8em;
}

.progressLineardemoBasicUsage .visible {
    opacity: 0;
    border: 2px solid white !important;
}

.progressLineardemoBasicUsage .container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #aad1f9;
    transition: opacity 0.1s linear;
    border-top: 0px;
}

.progressLineardemoBasicUsage .bottom-block {
    display: block;
    position: relative;
    background-color: rgba(255, 235, 169, 0.25);
    height: 85px;
    width: 100%;
}

.progressLineardemoBasicUsage .bottom-block > span {
    display: inline-block;
    margin-top: 10px;
    padding: 25px;
    font-size: 0.9em;
}

.listdemoListControls md-divider {
    margin-top: 0;
    margin-bottom: 0;
}

.listdemoListControls md-list {
    padding-top: 0;
}

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

@media only screen
and (max-width: 736px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }
}

@media only screen
and (min-width: 736px)
and (max-width: 1200px) {
    .tablet {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: none;
    }
}

@media only screen
and (min-width: 1200px) {
    .desktop {
        display: block;
    }

    .tablet {
        display: none;
    }

    .mobile {
        display: none;
    }
}

.menudemoBasicUsage .menu-demo-container {
    min-height: 200px;
}

table th {
    font-size: 14px !important;
}

@media (min-width: 959px) {
    md-dialog.height80 {
        max-height: 80% !important;
    }
}

md-dialog.md-dialog-fullscreen {
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
}

/*css w.r.t side nav status*/
.sidenav .service_status_section {
    border-top: 1px solid #ccc;
}

.sidenav .status_label {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.sidenav .service_available {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    margin-top: 4px;
}

.sidenav .service_unavailable {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    margin-top: 4px;
}

.service_status_section .frontend_status {
    border-right: 1px solid #ccc;
}

.service_status_section .iot_status {
    border-right: 1px solid #ccc;
}

.service_status_section .gateway_status {
    border-right: 1px solid #ccc;
}

.sidenav .version {
    font-size: 12px;
    color: grey;
}

body.md-toast-animating {
    overflow: auto !important;
}

.online {
    color: #4CAF50;
    font-weight: bold;
}

.offline {
    color: #F44336;
    font-weight: bold;
}

.fixed-height-widget {
    margin-top: 0px !important;
}

.side_nav_items {
    padding: 0px;
}

.side_nav_items md-icon {
    margin-left: 16px;
}

.side_nav_items md-list-item {
    border-left: 6px solid transparent;
}

.side_nav_items md-list-item a {
    color: rgba(0, 0, 0, 0.870588);
    font-weight: 500;
    text-decoration:none;
}

.side_nav_items .md-list-item-text {
    margin-top: 4px;
}

.side_nav_items md-list-item.active {
    border-left: 6px solid #f39c12;
    color: #f39c12;
}

.side_nav_items md-list-item.active a {
    color: #f39c12;
    font-weight: 500;
}

.side_nav_items md-list-item.active i {
    color: #f39c12;
}

.side_nav_mini_btn_section {
    border-top: 1px solid #ccc;
    padding-top:3px;
    padding-bottom:3px;
    color: grey;
}

.side_nav_mini_btn_section i {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
    cursor: pointer;
    font-size: 18px;
}

.side_nav_mini_btn_section i:hover {
    color: black;
}

.sidenav.mini {
    width: 80px !important;
    transition: all 0.3s;
    min-width: 80px !important;
    max-width: 80px !important;
}

.sidenav.mini .md-list-item-text {
    display: none;
}

.sidenav.mini md-list-item md-icon {
    margin: 14px !important;
}

.sidenav.mini .frontend_status {
    border-right: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.sidenav.mini .iot_status {
    border-right: 0px;
    border-bottom: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidenav.mini .gateway_status {
    border-right: 0px;
    border-bottom: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidenav.mini .auth_status {
    padding-top: 8px;
}

.sidenav.mini .side_nav_mini_btn_section {
    padding: 8px;
    text-align: center;
}

.sidenav.mini .side_nav_mini_btn_section i {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    -ms-filter: 'FlipH';
}

.error-icon {
    font-size: 12rem;
    color: #607D8B;
}

.error-icon-before {
    font-size: 15rem;
    color: #607D8B;
}

.error-icon-after {
    font-size: 15rem;
    color: #607D8B;
}

.error-message {
    color: #9E9E9E;
}

.cursor_pointer {
    cursor: pointer;
}


/*popover styles*/
.account_popover ul {
	margin:8px 0px;
}

.account_popover .row_1 {
	padding:12px 16px;
}

.account_popover .email {
	font-weight:300;
	color:grey;
	line-height:1.5;
	font-size:15px;
}

.account_popover .name {
	font-weight:400;
	color:black;
	line-height:1.5;
	font-size:15px;
}

.account_popover a {
	text-decoration:none;
	line-height:1.5;
    font-size:15px;
}

/*scrollbar style*/
::-webkit-scrollbar {
	background: transparent;
	overflow: visible;
	width: 17px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border: solid #fff;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 4px 6px;
	min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 6px 4px;
	min-height: 40px;
}

::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #ADADAD;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}

.menu-heading {
    padding-left: 22px;
    padding-top: 12px;
    font-size:15px;
    color: grey;
}

md-tooltip.multi_line .md-content {
	height: auto;
}

md-tooltip.md-24 .md-content {
	font-size:14px;
	line-height:24px;
}

md-tooltip.alpha-87 .md-content {
	background-color:rgba(0, 0, 0, 0.87);
}

.material-icons.md-20 {
	font-size: 20px;
	height:20px;
	width:20px;
}

.material-icons.md-18 {
	font-size: 18px;
	height:18px;
	width:18px;
}

.help {
	cursor: help;
}


/* changes and additions made by arun for minusforty POC */

.logout {
    background-color: steelblue;
}

.logout:hover {
     background-color: black!important;
}

.mforty-color {
    color:steelblue!important;
    font-weight: 500 !important;
    display:block;

}

@keyframes rotate_show {
	from {
		opacity:0;
		transform: rotate(15deg) scale(0.5);
	}
	70% {
		transform: rotate(-15deg) scale(1.5);
	}
	100% {
		opacity:1;
		transform: rotate(0deg) scale(1);
	}
}

@-webkit-keyframes rotate_show {
	from {
		opacity:0;
		transform: rotate(15deg) scale(0.5);
	}
	70% {
		transform: rotate(-15deg) scale(1.5);
	}
	100% {
		opacity:1;
		transform: rotate(0deg) scale(1);
	}
}

/*new animations*/
@-webkit-keyframes slideUpFadeIn {
	from {
    	transform:translateY(210px);
    	opacity:0;
    }
    100%{
    	opacity:1;
    	transform:translateY(0px);
    }
}

@-moz-keyframes slideUpFadeIn {
	from {
    	transform:translateY(210px);
    	opacity:0;
    }
    100%{
    	opacity:1;
    	transform:translateY(0px);
    }
}

@-o-keyframes slideUpFadeIn{
	from {
    	transform:translateY(210px);
    	opacity:0;
    }
    100%{
    	opacity:1;
    	transform:translateY(0px);
    }
}

@-ms-keyframes slideUpFadeIn{
	from {
    	transform:translateY(210px);
    	opacity:0;
    }
    100%{
    	opacity:1;
    	transform:translateY(0px);
    }
}

@-webkit-keyframes slideFromRightFadeIn {
	from {
    	transform:translateX(100%);
    	opacity:0;
    }
    100%{
    	transform:translateX(0%);
    	opacity:1;
    }
}
@-moz-keyframes slideFromRightFadeIn {
	from {
    	transform:translateX(100%);
    	opacity:0;
    }
    100%{
    	transform:translateX(0%);
    	opacity:1;
    }
}
@-o-keyframes slideFromRightFadeIn {
	from {
    	transform:translateX(100%);
    	opacity:0;
    }
    100%{
    	transform:translateX(0%);
    	opacity:1;
    }
}
@-ms-keyframes slideFromRightFadeIn {
	from {
    	transform:translateX(100%);
    	opacity:0;
    }
    100%{
    	transform:translateX(0%);
    	opacity:1;
    }
}

@-webkit-keyframes slideFromLeftFadeIn {
	from {
    	transform:translateX(-100%);
    	opacity:0;
    }
    100%{
    	transform:translateX(0%);
    	opacity:1;
    }
}
@-moz-keyframes slideFromLeftFadeIn {
	from {
		transform:translateX(-100%);
		opacity:0;
	}
	100%{
		transform:translateX(0%);
		opacity:1;
	}
}
@-o-keyframes slideFromLeftFadeIn {
	from {
		transform:translateX(-100%);
		opacity:0;
	}
	100%{
		transform:translateX(0%);
		opacity:1;
	}
}
@-ms-keyframes slideFromLeftFadeIn {
	from {
		transform:translateX(-100%);
		opacity:0;
	}
	100%{
		transform:translateX(0%);
		opacity:1;
	}
}

@-webkit-keyframes fadeIn {
	from {
    	opacity:0;
    }
    100%{
    	opacity:1;
    }
}
@-moz-keyframes fadeIn {
	from {
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@-o-keyframes fadeIn {
	from {
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@-ms-keyframes fadeIn {
	from {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.slide_up_fade_in {
	-webkit-animation: slideUpFadeIn 0.4s cubic-bezier(0.0, 0.0, 0.2, 1);
    animation: slideUpFadeIn 0.4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.slide_left_fade_in {
	-webkit-animation: slideLeftFadeIn 0.4s cubic-bezier(0.0, 0.0, 0.2, 1);
    animation: slideLeftFadeIn 0.4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.slide_right_fade_in {
	-webkit-animation: slideFromLeftFadeIn 0.4s cubic-bezier(0.0, 0.0, 0.2, 1);
    animation: slideFromLeftFadeIn 0.4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.ng_slide_up_fade_in {
    transition:0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
}

.ng_slide_up_fade_in.ng-enter,
.ng_slide_up_fade_in.ng-leave.ng-leave-active {
	opacity:0;
	transform:translateY(120px);
}

.ng_slide_up_fade_in.ng-leave,
.ng_slide_up_fade_in.ng-enter.ng-enter-active {
	opacity:1;
    transform:translateY(0);
}

.ng_hide_slide_up_fade_in.ng-hide-remove {
	opacity:0;
	transform:translateY(120px);
}

.ng_hide_slide_up_fade_in.ng-hide-remove.ng-hide-remove-active {
	transition:0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
	opacity:1;
	transform:translateY(0);
}

.ng_hide_slide_up_fade_in.ng-hide-add {
	opacity:1;
	transform:translateY(0);
}

.ng_hide_slide_up_fade_in.ng-hide-add.ng-hide-add-active {
	opacity:0;
	transform:translateY(120px);
}


/*hide : slide down fade in & slide up fade out */
.ng_hide_slide_up_fade_in_slide_up_fade_out.ng-hide-remove {
	opacity:0;
	transform:translateY(-120px);
}

.ng_hide_slide_up_fade_in_slide_up_fade_out.ng-hide-remove.ng-hide-remove-active {
	transition:0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
	opacity:1;
	transform:translateY(0);
}

.ng_hide_slide_up_fade_in_slide_up_fade_out.ng-hide-add {
	opacity:1;
	transform:translateY(0);
}

.ng_hide_slide_up_fade_in_slide_up_fade_out.ng-hide-add.ng-hide-add-active {
	opacity:0;
	transform:translateY(-120px);
}

/*end of new animations*/

/*Added after removing materialize css lib*/
.center-align {
	text-align:center;
}

.left-align {
    text-align: left
}

.right-align {
    text-align: right
}

.red-text {
	color:red;
}

.grey-text {
}
    color: #9e9e9e
}

.black-text {
	color:black;
}

.mg_20 {
	margin:20px;
}

.mg_top_bottom_20 {
	margin:20px 0px;
}

.mg_bottom_84 {
	margin-bottom:84px;
}

.blue {
    /*background-color: #2196F3 !important; background peforming faster than background-color*/
    background: #2196F3;
}

/*not used, use background image if performance degrades*/
.blue_img {
    background-image: url('/assets/images/blue.png');
}

.material-icons.md-20 {
	font-size: 20px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}
.material-icons.md-60 {
	font-size: 60px;
	height:60px;
	width:60px;
}

/*for cross browser bugs*/
.flex_shrink_0 {
	flex-shrink: 0;
}

.flex_expand {
	flex: 1 0 auto;
}

.full_height {
	height:100%;
}

/*client*/
.client .sub_nav {
    position: relative;
    height: 56px;
    border-bottom: 1px solid #ccc;
    background-color:white;
    padding:0px 16px;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.client .sub_nav.highlight {
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color:#FFCC80;
}

.client .sub_nav .tag {
	font-size: 12px;
	line-height: 16px;
	padding: 4px 20px 4px 8px;
	border-radius: 2px;
	height: auto;
	margin: 6px 4px 4px 4px;
	font-weight: 400;
	max-width:calc(28%);
	position:relative;
}

.client .sub_nav .tag.plus {
	padding:4px 8px;
}

.client .sub_nav .tag .close_icon {
	position:absolute;
	right:2px;
	bottom:0;
	top:0;
	cursor:pointer;
}

.client_tags_menu .tag_name {
	max-width:300px;
	margin-right:40px;
}