@()
<script src="@routes.Assets.versioned("javascripts/vendor/konva.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/angular.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/angular-ui-router.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/angular-material.min.js")" type="text/javascript"></script>

<!-- aria and animate files were needed for material-->
<script src="@routes.Assets.versioned("javascripts/vendor/angular-animate.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/angular-aria.min.js")" type="text/javascript"></script>

<!--- The below file is needed for material icons-->
<script src="@routes.Assets.versioned("javascripts/vendor/angular-material-icons.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.versioned("javascripts/vendor/nsPopover.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/md-data-table.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/browserMqtt.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/ng-file-upload.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/ng-file-upload-shim.min.js")" type="text/javascript"></script>



<!--- All the files needed by the app-->
<script src="@routes.Assets.versioned("javascripts/app.js")"></script>
<script src="@routes.Assets.versioned("javascripts/states.js")"></script>
<script src="@routes.Assets.versioned("javascripts/app_controller.js")"></script>
<script src="@routes.Assets.versioned("javascripts/login.js")"></script>
<script src="@routes.Assets.versioned("javascripts/login_ctrl.js")"></script>
<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
<script src="@routes.Assets.versioned("javascripts/main_ctrl.js")"></script>
<script src="@routes.Assets.versioned("javascripts/devices_ctrl.js")"></script>
<script src="@routes.Assets.versioned("javascripts/deviceDetails_ctrl.js")"></script>
<script src="@routes.Assets.versioned("javascripts/view3_ctrl.js")"></script>
<script src="@routes.Assets.versioned("javascripts/dialog_ctrl.js")"></script>
<script src="@routes.Assets.versioned("javascripts/mqtt_service.js")"></script>
<script src="@routes.Assets.versioned("javascripts/app_config_service.js")"></script>
<script src="@routes.Assets.versioned("javascripts/notification_service.js")"></script>
<!--<script src="@routes.Assets.versioned("javascripts/konva_dir.js")"></script>-->


<!-- stylesheet for angular material -->
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/vendor/angular-material.min.css")" />

<!-- stylesheet for using material icons -->
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/vendor/material-icons.css")" />
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/custom.css")" />
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/vendor/md-data-table.min.css")" />
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/vendor/nsPopover.min.css")" />